@import "./libs/ui/src/lib/colors";
@import "./libs/ui/src/lib/variables";

.resume-section {
  .resume-section-header {
    margin-bottom: map-get($spacing, "md");
    padding-bottom: map-get($spacing, "sm");
    border-bottom: 2px solid color("accent");
    h2, h3 {
      margin: auto 0;
    }
  }

  .resume-section-item:not(:first-of-type) {
    margin-top: map-get($spacing, "lg");
  }
}
