<div class="resume">
  <div style="text-align: center;">
    <h1 class="mx-sm">Jay Fialkowski</h1>
  </div>
  <div class="d-flex d-flex-wrap d-flex-gap-md justify-content-center mt-md mb-lg">
    <div *ngFor="let link of links" class="resume-link">
      <a class="link" href="{{link.href}}" target="_blank">
        <i class="bi bi-{{link.icon}} mr-md text-color-secondary"></i>
        <span>{{link.label}}</span>
      </a>
    </div>
  </div>
  <jf-resume-section
      [sectionTitle]="'Education'"
  ></jf-resume-section>
</div>
