<div class="resume">
  <div class="d-flex d-flex-column-gap-md align-items-center justify-content-center mx-sm mb-md">
    <div>
      <h1>Jay Fialkowski</h1>
    </div>
    <div>
      <a href="{{resumeUrl}}"
         target="_blank"
         class="button button-success button-icon-only"
         title="Download Resume"
         aria-label="Download Resume">
        <i class="bi bi-cloud-download"></i>
      </a>
    </div>
  </div>
  <div class="d-flex d-flex-wrap d-flex-gap-md justify-content-center mt-sm mb-md">
    <div *ngFor="let link of links" class="resume-link">
      <a class="link" href="{{link.href}}" target="_blank">
        <i class="bi bi-{{link.icon}} mr-xs text-color-accent"></i>
        <span>{{link.label}}</span>
      </a>
    </div>
  </div>

  <!-- sections -->
  <jf-resume-section *ngFor="let section of sections" [model]="section"></jf-resume-section>
</div>
